/* CSS for Chatting Website */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

/* Body styles */

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

/* Chat container styles */
.chat-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 16px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Chat bubble styles */
.chat-bubble {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.chat-bubble .user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.chat-bubble .message {
    background-color: #e6e6e6;
    padding: 10px;
    border-radius: 20px;
}

.chat-bubble .message .timestamp {
    font-size: 12px;
    color: #999999;
}

/* User message styles */
.user-message {
    justify-content: flex-end;
}

.user-message .message {
    background-color: #b3e6ff;
}

/* Assistant message styles */
.assistant-message {
    justify-content: flex-start;
}

.assistant-message .message {
    background-color: #f2f2f2;
}

/* Input section styles */
.input-section {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

.input-section input[type="text"] {
    /* display: flex; */
    padding: 20px 125px;
    border: none;
    border-radius: 55px;
    margin: 6px;
    outline: none;
}

.input-section button {
    margin: 16px;
    padding: 12px 20px;
    font: 200 20px "montserrat";
    background-color: #4caf50;
    color: #ffffff;
    border-radius: 35px;
    border: 2px solid transparent;
    transition: 0.1s linear all;
    cursor: pointer;
}

.input-section button:hover {
    border: 2px solid #005e04;
    background-color: white;
    color: rgb(0, 0, 0);
}